<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>

</head>
<body>
<div>添加用户</div>
<form method="post" action="/users/addUser">
    用户ID:<input type="text" name="userId" th:value="*{userId}">
    用户名称:<input type="text" name="userName" th:value="*{userName}">
    电话号码:<input type="text" name="phone" th:value="*{phone}">
    性别:<input type="text" name="sex" th:value="*{sex}">
    <input type="submit" value="提交">
</form>
</body>
</html>